- name: Install HAProxy
  ansible.builtin.apt:
    name: haproxy
    state: present
  notify: Restart HAProxy

- name: Deploy HAProxy configuration
  ansible.builtin.template:
    src: haproxy.cfg.j2
    dest: /etc/haproxy/haproxy.cfg
    mode: '0644'
    validate: haproxy -c -f %s
  notify: Restart HAProxy

- name: Ensure HAProxy is started and enabled
  ansible.builtin.service:
    name: haproxy
    state: started
    enabled: true
