[meta]
  dir = "/var/lib/influxdb/meta"
[data]
  dir = "/var/lib/influxdb/data"
  wal-dir = "/var/lib/influxdb/wal"
  series-id-set-cache-size = 100
  query-log-enabled = false
[http]
  log-enabled = false
  write-tracing = false
  enabled       = true
  bind-address  = ":{{ influxdb_http_port }}"

[[udp]]
  enabled      = true
  bind-address = ":8089"
  database     = "{{ influxdb_telegraf_database }}"
