[agent]
  hostname            = ""
  omit_hostname       = false
  logfile             = "/var/log/telegraf/telegraf.log"
  interval            = "10s"
  flush_interval      = "10s"
  flush_jitter        = "0s"
  precision           = "0s"
  collection_jitter   = "0s"
  round_interval      = true
  metric_batch_size   = 1000
  metric_buffer_limit = 10000

[[inputs.cpu]]
  percpu           = true
  totalcpu         = true
  collect_cpu_time = false
  report_active    = false
  core_tags        = false

[[inputs.syslog]]
  server = "udp://:6514"

[[outputs.influxdb]]
  urls     = ["http://localhost:{{ influxdb_http_port }}"]
  database = "{{ influxdb_telegraf_database }}"
  timeout  = "5s"
