.vscode/
.vs/
*.code-workspace
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
__pycache__/
*.pyc
*.pyo
venv/
.env/
.molecule/
*.log
*.tmp
*.swp
*.bak
.ansible_cache/
.ansible/tmp/
facts_cache/
.idea/
*.iml
.AppleDouble
.Spotlight-V100
.Trashes
.bak
