server:
  http_listen_port: 9080
positions:
  filename: /var/lib/promtail/positions.yaml

clients:
  - url: http://{{ groups['loki'][0] }}:3100/loki/api/v1/push

scrape_configs:
{% if inventory_hostname in groups['all_hosts'] %}
  - job_name: syslog_logs
    static_configs:
      - targets: ['localhost']
        labels:
          hostname: "{{ inventory_hostname }}"
          job: syslog
          __path__: /var/log/syslog
{% endif %}
{% if inventory_hostname in groups['all_hosts'] %}
  - job_name: nginx_access_logs
    static_configs:
      - targets: ['localhost']
        labels:
          hostname: "{{ inventory_hostname }}"
          job: nginx_access_logs
          __path__: /var/log/nginx/access.log
{% endif %}
{% if inventory_hostname in groups['all_hosts'] %}
  - job_name: nginx_error_logs
    static_configs:
      - targets: ['localhost']
        labels:
          hostname: "{{ inventory_hostname }}"
          job: nginx_error_logs
          __path__: /var/log/nginx/error.log
{% endif %}
{% if inventory_hostname in groups['web_servers'] %}
  - job_name: agama_logs_slo
    static_configs:
      - targets: ['localhost']
        labels:
          hostname: "{{ inventory_hostname }}"
          job: agama_logs_slo
          service_name: agama
          __path__: /var/log/nginx/agama.log
{% endif %}
