{% if inventory_hostname == mysql_backup_host %}
# MySQL dump every day at 21:45 UTC
45 21 * * * backup mysqldump agama > /home/backup/mysql/agama.sql

# Full backup on Sundays at 22:50 UTC
50 22 * * 0 backup duplicity --no-encryption full /home/backup/mysql/ rsync://orinocoz@backup/mysql

# Incremental backup Monday–Saturday at 22:50 UTC
50 22 * * 1-6 backup duplicity --no-encryption incremental /home/backup/mysql/ rsync://orinocoz@backup/mysql
{% endif %}
