apiVersion: 1

providers:
 - name: 'default'
   orgId: 1
   folder: ''
   folderUid: ''
   type: file
   options:
     path: /var/lib/grafana/dashboards
     default_home_dashboard_path: /var/lib/grafana/dashboards/main.json

