apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    uid: prometheus
    access: proxy
    orgId: 1
    url: http://{{ groups['prometheus_servers'][0]:9090/prometheus
    isDefault: true
    version: 1
    editable: false
  - name: Loki1
    type: loki
    access: proxy
    orgId: 1
    uid: LOKI-BAAS
    url: http://{{ groups['loki_servers'][0] }}:3100
    isDefault: false
    editable: true
