[server]
root_url = http://{{ hostvars[groups['grafana'][0]]['ansible_host'] }}:{{ hostvars[groups['grafana'][0]]['ansible_port'] + 58 }}/grafana
serve_from_sub_path = true

[security]
admin_user = {{ grafana_user  }}
admin_password = {{ grafana_password }}

[dashboards]
default_home_dashboard_path = /etc/grafana/provisioning/dashboards/main.json

[auth.anonymous]
enabled = true
org_name = Main Org :)
org_role = Viewer

