- name: Create agama-client user
  ansible.builtin.user:
    name: agama-client
    system: yes
    home: /var/lib/agama-client
    shell: /usr/sbin/nologin
    comment: "agama-client user"

- name: Install FPing from the Ubuntu APT repository
  apt:
    name:  fping
    state: present

- name: Copy agama-client bash script
  ansible.builtin.template:
    src: agama-client.j2
    dest: /usr/local/bin/agama-client
    mode: 0755
  notify:
    - Restart agama-client

- name: Create /etc/agama-client directory
  ansible.builtin.file:
    path: /etc/agama-client
    state: directory

- name: Copy agama-client config file
  ansible.builtin.template:
    src: agama-client.conf.j2
    dest: /etc/agama-client/agama-client.conf

- name: Copy systemd "agama-client.service"
  ansible.builtin.template:
    src: agama-client.service.j2
    dest: /etc/systemd/system/agama-client.service
  notify:
    - Reload systemd

- name: Flush agama_client handlers
  ansible.builtin.meta: flush_handlers

- name: Start agama-client service
  ansible.builtin.systemd:
    name: agama-client
    state: started
    enabled: true

- name: Assign CNAME
  include_role:
    name: "dns_record"
  vars:
    service: "{{ inventory_hostname | replace('orinocoz','www') }}"
