- name: Install Docker packages
  ansible.builtin.apt:
    name:
      - docker.io
      - python3-docker
    state: present
    update_cache: yes

- name: Ensure Docker service is running and enabled
  ansible.builtin.service:
    name: docker
    state: started
    enabled: true

- name: Install Loki Docker logging driver
  community.docker.docker_plugin:
    plugin_name: grafana/loki-docker-driver:latest
    state: enable
