- name: Restart MySQL
  ansible.builtin.service:
    name: mysql
    state: restarted

- name: Restart MySQL Exporter
  ansible.builtin.service:
    name: prometheus-mysqld-exporter
    state: restarted

- name: Restart MySQL cron
  ansible.builtin.service:
    name: cron
    state: restarted

