[Unit]
Description=Agama Client service
Documentation="https://github.com/romankuchin/ica0002-2024/blob/main/08-logging/08-files/agama-client.service"
After=network-online.target

[Service]
User=agama-client
ExecStart=/usr/local/bin/agama-client

[Install]
WantedBy=multi-user.target
